@model Expense
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Xərc Əlavə Et</h4>

                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Money">Xərc</label>
                        <input asp-for="Money" class="form-control">
                        <span asp-validation-for="Money" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="For">Haqqında</label>
                        <input asp-for="For" class="form-control">
                        <span asp-validation-for="For" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Əlavə Et</button>
                    <a asp-action="Index" class="btn btn-secondary text-white">Geri</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
     }